/* HOMEPAGE SHAREABLES */
:root {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--font-color: #d1d7e0;
	--a-color: #478be6;
	--background-color: #212830;
	--font-family: "Atkinson Hyperlegible Mono", sans-serif;
	--h1-font-size: 2em;
	--h1-font-weight: bold;
	--h1-margin-block-start: 0.67em;
	--h1-margin-block-end: 0.67em;
}

body {
    font-family: var(--font-family);
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
    color: var(--a-color);
}

h1 {
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
	margin-block-start: var(--h1-margin-block-start);
	margin-block-end: var(--h1-margin-block-end);
}

/* POST PAGE */
.backhome {
	font-size: 20px;
	display: block;
	margin-top: 1em;
}

.h1-replacement {
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
	margin-block-start: var(--h1-margin-block-start);
	margin-block-end: var(--h1-margin-block-end);
	display: block;
}
