<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Homepage{% endblock %} - YARB</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} " />
		{% include 'components/head.html' %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			{% if request.endpoint == 'index' %}
				<h1>{{ "<Yet Another Random Blog>" | e }}</h1>
			{% else %}
				<div class="h1-replacement">{{ "<Yet Another Random Blog>" | e }}</div>
			{% endif %}
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>

