{% extends "base.html" %}

{% block head %}
  <meta name="description" content="A Full Stack Developer's personal blog. Unfiltered thoughts on web development, tech culture & procrastination. No niche, no schedule, no financial advice: just nostalgia.">
  <link rel="canonical" href="{{ site_url }}" />
{% endblock %}
{% block title %} Home - YARB{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post-preview">
      <header>
        <h2><a href="/post/{{ post.metadata.slug }}">{{ post.metadata.title }}</a></h2>
        <time datetime="{{ post.metadata.created_at }}">{{ post.metadata.created_at }} by <em>{{ post.metadata.author }}</em></time>
      </header>
      <p class="excerpt">{{ post.metadata.excerpt }}</p>
      <footer>
        <a href="/post/{{ post.metadata.slug }}" aria-label="Read more about {{ post.metadata.title }}">Read More →</a>
      </footer>
    </article>
  {% else %}
    <p>No posts available.</p>
  {% endfor %}
{% endblock %}
